body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#ancient {
    display: inline-block;
    position: relative;
    width: 50%;
    min-height: 100vh;
    background-image: url("./imgs/UAncientBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#modern {
    display: inline-block;
    position: relative;
    width: 50%;
    min-height: 100vh;
    background-image: url("./imgs/UModernBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
